@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: #F2F2F2;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}
.search-button {
  font-size: 20px;
  line-height: 36px;
}
.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-width: 0;
  border-radius: 0 4px 4px 0;
}
.button-apply, .button-favorites {
  background-color: #82B3D3;
  border-width: 0;
}
.button-reset {
  background-color: transparent;
  border-width: 0;
}
.button-view {
  background-color: white;
}
.button-favorites-active {
  background-color: #7DB54F;
  border-width: 0;
}
.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-header {
  background-color: #fff;
}
.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: black;
  background-color: white;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}
.main-index {
  background-color: #fff;
}
.hero {
  color: black;
  background-color: rgb(110, 104, 104);
  background-image: url("../images/hero/flag.svg"),
    url("../images/hero/background.jpg");
  background-position: center bottom, center;
  background-size: contain, cover;
  background-repeat: no-repeat;
  height: 485px;
}
.hero img {
  display: block;
  width: 458px;
  margin: 0 auto;
}
.advantages .title,
.services .title,
.search .title {
  color: black;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages-main-description,
.services-main-description,
.search-main-description {
  color: #333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.advantages-item:first-child .item-text-box,
.advantages-item:last-child .item-text-box {
  background-color: #82b3d3;
}
.advantages-item:nth-child(2) .item-text-box,
.advantages-item:nth-child(4) .item-text-box {
  background-color: #83b3d31f;
}
.advantages-item:nth-child(3) .item-text-box {
  background-color: #83b3d333;
}
.services-item:nth-child(1) .item-text-box,
.services-item:nth-child(3) .item-text-box {
  background-color: #83B3D31F;
}
.advantages-title, .services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}
.advantages-description, .services-description{
  color: #333;
  text-align: center;
}
.description-white,
.title-white {
  color: white;
}
.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.services-image {
  display: block;
  margin: 0 auto;
}
.subscribe {
  background-image: url("../images/search/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1200px;
  background-color: rgb(110, 104, 104);
}
.subscribe .title {
  color: white;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.subsribe-main-description {
  color: white;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.email-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 412px;
  border: none;
  color: black;
  background: #F2F2F2;
}
.page-footer {
  background-color: #fff;
}
.phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
.social-list {
  list-style: none;
}
.social-link {
  text-decoration: none;
}
.main-catalog {
  background-color: #fff;
}
.filters {
  background-image: url("../images/filtres/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  background-color: rgb(110, 104, 104);
}
.filters-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: white;
}
.breadcrumbs-item {
  font-size: 16px;
  color: white;
}
.catalog-filter-list {
  list-style: none;
}
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: white;
}
.control {
  line-height: 23px;
  color: white;
}
.catalog .title{
  color: black;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  background-color: white;
}
.hotel-list {
  list-style: none;
}
.hotel-card-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color: #333;
}
.price {
  text-align: right;
  color: #333;
}
.hotel-card-rating {
  background-color: #F2F2F2;
}
.hotel-card-rating span {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333;
}
.pagination {
  list-style: none;
}
.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #82B3D3;
}

.pagination-item:first-child .pagination-link {
.is-active {
  background-color: #F2F2F2;
  color: black;
}

.pagination-item:nth-child(5) .pagination-link {
  background-color: white;
.pagination-dots {
  background-color: #FFFFFF;
  color: black;
}

.subscribe-catalog .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.subsribe-catalog-description {
  color: black;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.icon {
  display: block;
  background-repeat: no-repeat;
}
.vk-icon {
  width: 24px;
  height: 14px;
  background-image: url("../images/footer/HTML\ Academy.svg");
}
.telegram-icon {
  width: 18px;
  height: 16px;
  background-image: url("../images/footer/Telegram.svg");
}
.youtube-icon {
  width: 22px;
  height: 17px;
  background-image: url("../images/footer/Youtube.svg");
 }
