@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}



body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: #F2F2F2;
}


.page-header,
.main-index,
.page-footer,
.main-catalog {
  width: 1200px;
  margin: o auto;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-br::after {
  content: "\A";
  white-space: pre;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  padding: 8px 50px;
}

.header-btn {
  padding: 8 px 10px;
  width: 100%;
  box-sizing: border-box;

}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

.button-apply {
  background-color: #82B3D3;
  padding: 8px 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 32px
}

.button-reset {
  background-color: transparent;
  padding: 8px 10px;
  width: 100%;
  box-sizing: border-box;
}

.button-card {
  padding: 8px 20px;
  width: 100%;
  box-sizing: border-box;
}

.button-favorites {
  background-color: #82B3D3;
}

.button-favorites-active {
  background-color: #7DB54F;
}

.button-view {
  background-color: white;
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}


.page-header {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 70px;
}

.navigation-logo {
  display: block;
  position: relative;
  width: 140px;
  height: 64px;
  margin-right: 28px;
  /* margin-bottom: -6px; */
}

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-user {
  margin-left: auto;
}

.navigation-user-item .navigation-search,
.navigation-user-item .navigation-favorites {
  padding: 22px 12px;
  display: block;
}


.navigation-item .navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: black;
  background-color: white;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
}

.button-wrapper {
  padding: 14px 0;
  width: 160px;

}

.hero {
  color: black;
  background-color: #959799;
  background-image: url("../images/hero/flag.svg"),
    url("../images/hero/background.jpg");
  background-position: center bottom, center;
  background-size: contain, cover;
  background-repeat: no-repeat;
  min-height: 485px;
}

.hero img {
  display: block;
  width: 458px;
  margin: 0 auto;
  padding-top: 51px;
}

.advantages .section-head {
  padding: 69px 69px;
  margin-bottom: 21px;
}

.advantages .title,
.services .title,
.search .title {
  color: black;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.advantages .title {
  margin-bottom: 25px;
}

.advantages-list,
.services-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-main-description,
.services-main-description,
.search-main-description {
  color: #333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.advantages-item:first-child,
.advantages-item:last-child {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-wide {
  grid-column: 1/-1;
}

.item-text-box {
  width: 400px;
  height: 385px;
  text-align: center;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 103px 85px;

}

.advantages-image {
  display: block;
  background-color: #959799;
  object-fit: contain;
}

.advantages-item:nth-child(even) .item-text-box {
  background-color: #83B3D31F;
}



.advantages-item:nth-child(odd) .item-text-box {
  background-color: #83b3d333;
}

.advantages-item .advantages-item-wide .item-text-box {
  background-color: #83B3D31F;
}

.reverse-item .advantages-image-wrapper {
  order: 1;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description {
  color: #333;
  text-align: center;

}

.services-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.services-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 85px;
  box-sizing: border-box;
}

.services-title {
  font-size: 24px;
  font-weight: 700px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}

.services-description {
  color: #333;
  text-align: center;
  margin: 0;

}

.description-white,
.title-white {
  color: white;
}

.services .section-head {
  padding: 64px 64px;
}

.services-item-wrapper {
  width: 230px;
  text-align: center;
}


.services-image {
  display: block;
  margin: 0 auto;
}

.search {
  text-align: center;
  padding: 96px 307px;
}

.search .section-head,
.subscribe .section-head,
.subscribe-catalog .section-head {
  margin-bottom: 54px;
}

.subscribe {
  background-image: url("../images/search/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #959799;
  text-align: center;
  padding: 96px 258px 104px;
}

.subscribe .title {
  color: white;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.subsribe-main-description {
  color: white;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  width: 684px;
}

.email-field {
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 412px;
  border: none;
  color: black;
  background: #F2F2F2;
  outline: none;
}

.page-footer {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 40px 70 px 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 5px 0;
}

.footer-phone {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  align-self: center;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  text-align: center;
}

.footer-logo {
  flex-shrink: 0;
  align-self: center;
}

.page-footer-logo {
  display: block;

}

.icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  width: 47px;
  height: 40px;
}


.vk-icon {
  background-image: url("../images/footer/Vkontakte.svg");
}

.telegram-icon {
  background-image: url("../images/footer/Telegram.svg");
}

.youtube-icon {
  background-image: url("../images/footer/Youtube.svg");
}

.home-icon {
  width: 13px;
  height: 15px;
  background-image: url("/images/breadcrumbs/breadcrumbs-house.svg");
}

/*
.star {
  width: 18px;
  height: 17px;
  background-image: url("../images/hotel list/star.svg");
  margin-right: 6px;
} */
/*
.star:last-child {
  margin: 0;
} */
.filters {
  background-image: url("../images/filtres/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #959799;
  padding: 35px 70 px 70px 70px;
}



.filters-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: white;
  margin: 0;
  margin-bottom: 8px;
}


.breadcrumbs {
  display: flex;
  list-style: none;
  margin-bottom: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

}

.breadcrumbs .breadcrumbs-arrow:after {
  content: '';
  display: flex;
  background-image: url("../images/breadcrumbs/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 10px;
  margin: 0 10px;
  align-items: center;
}

.breadcrumbs li::last-child::after {
  display: none;
}

.breadcrumbs-item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 16px;
  color: white;
}

.catalog-filter {
  display: flex;
}

.control-inscription {
  margin-left: 16px;
}

.left-filter {
  display: flex;
  margin-right: auto;
}

.infrastrucure,
.price-range {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}


.infrastrucure-list,
.hometypes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.infrastrucure-item,
.hometypes-item {
  margin-bottom: 16px;
}

.infrastrucure-item:last-child,
.hometypes-item:last-child {
  margin-bottom: 0;
}


.infrastrucure-title,
.hometypes-title,
.price-range-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: white;
  padding: 0;
  margin-bottom: 32px;
}

.hometypes {
  border: none;
  padding: 0;
  margin: 0;
}

.price-range {
  max-width: 286px;
}

.cost-regulator {
  display: flex;
  gap: 2px;

}

.price-from {
  border-radius: 4px 0 0 4px;
}

price-to {
  border-radius: 0 4px 4px 0;
}

.price-range-label {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: white;
}

.price-range-label span {
  color: black;
  opacity: 0.3;
}

.price-range-label input {
  width: 100%;
  font-size: 700;
  line-height: 24px;
  padding: 0;
  border: 0;
  outline: none;
}

.filters-button {
  margin-top: 56px;
  width: 191px;
}

.control {
  line-height: 23px;
  color: white;
}

.catalog .title {
  color: black;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.select-control-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  background-color: white;
  margin-right: 70px;
  width: 290px;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-up {
  display: flex;
  margin-bottom: 40px;
}

.hotel-card {
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  padding: 19px;
  border-radius: 4px;
  box-sizing: border-box;
  height: 100%;

}

.hotel-card-title {
  margin: 16px 0;

}

.hotel-card-image {
  display: block;
}

.hotel-card-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color: #333;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.hotel-card-price {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 16px;
  color: #333;
}

.hotel-card .price {
  width: max-content;
  flex-shrink: 0;
}

.card-wrapper-btn {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  margin-top: auto;
}

.star-wrapper {
  display: flex;
}

.hotel-card-stars {
  display: flex;
  align-items: center;
}

.hotel-card-rating {
  background-color: #F2F2F2;
  border-radius: 4px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-card-rating span {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333;
}

.pagination {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  padding: 0 8px;
  box-sizing: border-box;
  background-color: #82B3D3;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.is-active {
  background-color: #F2F2F2;
  color: black;
}

.pagination-dots {
  background-color: #FFFFFF;
  color: black;
}

.subscribe-catalog {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe-catalog .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.subsribe-catalog-description {
  color: black;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}
