@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* стиль для фокуса */

*:focus-visible {
  outline: 3px solid #82b3d3;
}

/* Стили для удаления браузерных стрелок в модальном окне у input type="number" */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: #F2f2f2;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/* Стили визульного скрытия элементов */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стили для  переноса */

.custom-br::after {
  content: "\A";
  white-space: pre;
}

/* Стили для кнопок */

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  padding: 8px 50px;
  cursor: pointer;
}

.header-btn {
  padding: 8px 25px;
  width: 100%;
  box-sizing: border-box;
}

.button:hover,
.button:focus-visible {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.subscribe-button:hover,
.subscribe-button:focus-visible,
.button-apply:hover,
.button-apply:focus-visible,
.button-favorites:hover,
.button-favorites:focus-visible,
.modal-button:hover,
.modal-button:focus-visible {
  background-color: #68a2ca;
}

.subscribe-button:active,
.button-apply:active,
.button-favorites:active,
.modal-button:active {
  background-color: #82b3d3;
}

.button-apply {
  background-color: #82B3D3;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 32px;
}

.button-reset {
  background-color: transparent;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.button-reset:hover {
  background-color: transparent;
  opacity: 0.6;
}

.button-reset:focus-visible {
  outline: none;
  background-color: transparent;
  border: 3px solid #83b3d3;
}

.button-reset:active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  background-color: transparent;
  opacity: 0.1;
}

.button-card {
  padding: 8px 18px;
  width: 100%;
  box-sizing: border-box;
}

.button-favorites {
  background-color: #82B3D3;
}

.button-favorites-active {
  background-color: #7DB54F;
}

.button-favorites-active:hover,
.button-favorites-active:focus-visible {
  background-color: #6c9e42;
}

.button-favorites-active:active {
  background-color: #7DB54F;
}

.button-view {
  background-color: #FFFFFF;
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  cursor: pointer;
}

.button-view:hover {
  border: 2px solid #000000;
}

.button-view:focus-visible {
  border: 2px solid #68a2ca;
  outline: none;
}

.button-view:active,
.button-view-active {
  border: 2px solid #000000;
}

.modal-button {
  background-color: #83B3D3;
  padding: 18px 77px;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
}

/* Стили для header */

.page-header {
  display: flex;
  box-sizing: border-box;
  padding: 0 70px;
}

.navigation-logo {
  display: block;
  position: relative;
  width: 140px;
  height: 64px;
  margin-right: 28px;

}

.header-navigation {
  display: flex;
  margin-right: 20px;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 550px;
}

.navigation-user {
  margin-left: auto;
  max-width: 140px;
}

.navigation-link-search,
.navigation-link-favorite {
  position: relative;
  padding: 22px 12px;
  display: block;
  color: black;
  height: 64px;
  box-sizing: border-box;
}

.navigation-img-user {
  display: block;
}

.navigation-item .navigation-link {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: black;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
}


.navigation-link:not(.navigation-link-currect):hover,
.navigation-link:not(.navigation-link-currect):focus-visible,
.navigation-link-search:hover,
.navigation-link-search:focus-visible,
.navigation-link-favorite:hover,
.navigation-link-favorite:focus-visible,
.footer-logo-link:hover,
.footer-logo-link:focus-visible,
.footer-phone .phone:hover,
.footer-phone .phone:focus-visible,
.hotel-card-link:hover,
.hotel-card-link:focus-visible {
  color: #756157;
}

.navigation-link:not(.navigation-link-currect):active,
.navigation-link-search:active,
.navigation-link-favorite:active,
.footer-logo-link:active,
.footer-phone .phone:active,
.hotel-card-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link::before {
  position: absolute;
  bottom: -1px;
  right: 16px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
  width: 0;
}

.navigation-link-currect::before,
.navigation-link:hover::before,
.navigation-link:focus-visible::before {
  width: calc(100% - 32px);
}



.favorite-count {
  position: absolute;
  color: white;
  min-width: 20px;
  height: 20px;
  text-align: center;
  background-color: #7DB54F;
  border-radius: 999px;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  top: 11px;
  left: calc(100% - 24px);
}

.button-wrapper {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 14px 0;
  width: 160px;
}

/* Стили для секции hero */

.hero {
  color: black;
  background-color: #959799;
  background-image: url("../images/hero/flag.svg"),
    url("../images/hero/background.jpg");
  background-position: center bottom, center;
  background-size: contain, cover;
  background-repeat: no-repeat;
  min-height: 485px;
}

.hero img {
  display: block;
  width: 458px;
  margin: 0 auto;
  padding-top: 51px;
}

/* Стили для секции advantages */

.advantages .section-head {
  padding: 69px 69px;
  margin-bottom: 21px;
}

.advantages .title,
.services .title,
.search .title {
  color: black;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.advantages .title {
  margin-bottom: 25px;
}

.advantages-list,
.services-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-main-description,
.services-main-description,
.search-main-description {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.advantages-item.advantages-item-wide {
  display: flex;
  grid-column: 1/-1;
  flex-wrap: wrap;
}

.item-text-box {
  height: 100%;
  width: 400px;
  min-height: 385px;
  text-align: center;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 102px 84px;
}

.advantages-image {
  display: block;
  background-color: #959799;
  object-fit: cover;
  min-height: 100%;
}

.advantages-item:nth-child(even) .item-text-box {
  background-color: rgba(131, 179, 211, 0.12);
}



.advantages-item:nth-child(odd) .item-text-box {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item .advantages-item-wide .item-text-box {
  background-color: #83B3D31F;
}

.reverse-item .advantages-image-wrapper {
  order: -1;
}

.advantages-item.advantages-item-wide .advantages-title,
.advantages-items.advantages-item-wide .advantages-description {
  color: #ffffff;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantages-description {
  color: #333333;
  text-align: center;
  margin: 0;
}

.advantages-item .advantages-description::before {
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px auto;
}

.advantages-item.advantages-item-wide .advantages-description::before {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Стили для секции services */

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 85px;
  box-sizing: border-box;
}

.services-icon {
  margin: 0 auto;
  width: 78px;
  height: 76px;
}

.services-icon-house {
  background-image: url("../images/services/house.svg");
}

.services-icon-burger {
  background-image: url("../images/services/burger.svg");
}

.services-icon-diy {
  background-image: url("../images/services/diy.svg");
}

/* Стиль для иконок */
.icon {
  display: block;
  background-repeat: no-repeat;
}

.services-title {
  font-size: 24px;
  font-weight: 700px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 29px 0;
}

.services-description {
  color: #333333;
  text-align: center;
  margin: 0;
}

.services .section-head {
  padding: 64px 64px;
}

.services-item-wrapper {
  width: 230px;
  text-align: center;
}

.services-image {
  display: block;
  margin: 0 auto;
}

/* Стили для секции search */

.search {
  text-align: center;
  padding: 96px 307px;
}

.search .section-head,
.subscribe .section-head,
.subscribe-catalog .section-head {
  margin-bottom: 54px;
}

/* Стили для секции subscribe */

.subscribe {
  background-image: url("../images/search/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #959799;
  text-align: center;
  padding: 96px 258px 104px;
}

.subscribe .title {
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.subsribe-main-description {
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.email-field,
.modal-field {
  font-size: 18px;
  line-height: 24px;
  font: inherit;
  font-weight: 700;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 412px;
  border: none;
  color: #000000;
  background: #F2F2F2;
}

.email-field:hover,
.price-from:hover,
.price-to:hover,
.modal-field:hover,
.modal-close-button:hover {
  background-color: #e6e6e6;
}

.email-field:focus,
.price-from:focus,
.price-to:focus,
.modal-field:focus {
  background-color: #e6e6e6;
}

/* Стили для footer */

.page-footer {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 188px 720px 152px;
  grid-auto-flow: row;
  padding: 40px 70px 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 5px 0;
  max-width: 200px;
}

.social-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
  color: #83b3d3;
}

.social-item-icon:hover,
.social-item-icon:focus-visible {
  color: #68a2ca;
}

.social-item-icon:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  align-self: center;
}

.footer-phone .phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  text-align: center;
  margin-right: 10px;
}

.footer-phone .phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-self: end;
  align-self: center;
}

.page-footer-logo {
  display: block;
}

.footer-logo-link {
  color: #000000;
  display: block;
  height: 34px;
}


.footer-logo-link:active {
  color: rgba(117, 97, 87, 0.3);
}

/* Стили для секции filter */

.filters {
  background-image: url("../images/filtres/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #959799;
  padding: 35px 70px 70px;
}

.filters-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs li::after {
  content: " ";
  display: flex;
  background-image: url("../images/breadcrumbs/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 10px;
  margin: 0 10px;
  align-items: center;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs-item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 16px;
}

.breadcrumbs-link,
.breadcrumbs-item:not(:last-child) .breadcrumbs-link:focus-visible {
  color: #ffffff;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  line-height: 23px;
  color: #ffffff;
}

.control:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.control:active {
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/form/check-mark.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input:hover + .control-mark {
  background-color: #ffffff;
  opacity: 0.6;
}

.control-input:focus-visible + .control-mark,
.range-toggle:focus-visible {
  outline: 3px solid #83b3d3;
}

.control-input:active + .control-mark {
  opacity: 0.3;
}

.left-filter {
  display: flex;
  margin-right: auto;
}

.infrastrucure,
.hometypes,
.price-range {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;

}

.infrastrucure,
.price-range {
  margin-right: 70px;
}

.infrastrucure-list,
.hometypes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.infrastrucure-item,
.hometypes-item {
  margin-bottom: 16px;
}

.infrastrucure-item:last-child,
.hometypes-item:last-child {
  margin-bottom: 0;
}


.infrastrucure-title,
.hometypes-title,
.price-range-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 0;
  margin-bottom: 32px;
}


.price-range {
  max-width: 288px;
}

.range-wrapper-inputs {
  display: flex;
  gap: 2px;
}

.price-range-label {
  position: relative;
}

.price-from {
  border-radius: 4px 0 0 4px;
}

.price-to {
  border-radius: 0 4px 4px 0;
}

.price-range-label span {
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 12px;
  right: 20px;
  line-height: 24px;
}

.price-range-label input {
  width: 143px;
  height: 48px;
  display: inline-flex;
  background-color: #ffffff;
  align-items: center;
  padding: 12px 15px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  border: 3px solid transparent;

}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 44px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: relative;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

.filters-button {
  margin-top: 56px;
  width: 191px;
}

/* Стили для секции catalog */

.catalog .title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.select-control-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  width: 160px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  margin-right: 70px;
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 19px;
  padding-right: 40px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../images/select-contol-icon/arrow.svg");
  background-position: right 14px center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  outline: none;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/select-contol-icon/small-arrow-disabled.svg");
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-up {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.hotel-card {
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  padding: 19px;
  border-radius: 4px;
  box-sizing: border-box;
  height: 100%;

}

.hotel-card-image:hover {
  opacity: 0.9;

}

.hotel-card-image {
  display: block;
}

.hotel-card-image:active {
  opacity: 0.6;

}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #333333;
  margin: 16px 0;
}

.hotel-card-link {

  text-decoration: none;
  color: #000000;
}

.hotel-card-price {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 16px;
  color: #333333;
}

.hotel-card .price {
  overflow-wrap: anywhere;
}

.card-wrapper-btn {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  margin-top: auto;
}

.hotel-card-stars {
  display: flex;
  align-items: center;
}

.hotel-card-rating {
  background-color: #F2F2F2;
  border-radius: 4px;
  min-height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-card-rating span {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e6e6e6;
  padding-top: 39px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  padding: 0 8px;
  box-sizing: border-box;
  background-color: #82B3D3;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.pagination-link:not(.is-active, .pagination-dots):hover,
.pagination-link:not(.is-active, .pagination-dots):focus-visible {
  background-color: #68a2ca;
}

.pagination-link:not(.is-active, .pagination-dots):active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.is-active {
  background-color: #F2F2F2;
  color: black;
}

.pagination-dots {
  background-color: #FFFFFF;
  color: black;
}

.pagination-link.is-active:hover,
.pagination-link.is-active:focus-visible,
.pagination-link.is-active:active {
  border: none;
}

.subscribe-catalog {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe-catalog .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.subsribe-catalog-description {
  color: black;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.star-wrapper {
  display: flex;
  background-image: url("../images/hotel-list/star.svg");
  background-size: 24px 17px;
  height: 17px;
}

.star-wrapper-4 {
  width: 92px;
}

.star-wrapper-3 {
  width: 68px;
}

.star-wrapper-2 {
  width: 44px;
}

.hotel-card-stars {
  display: flex;
  align-items: center;
}

.hotel-card-rating {
  background-color: #f2f2f2;
  border-radius: 4px;
  min-height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-card-rating span {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e6e6e6;
  padding-top: 39px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  padding: 0 8px;
  box-sizing: border-box;
  background-color: #82b3d3;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.pagination-link:not(.is-active, .pagination-dots):hover,
.pagination-link:not(.is-active, .pagination-dots):focus-visible {
  background-color: #68a2ca;
}

.pagination-link:not(.is-active, .pagination-dots):active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.is-active {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-dots {
  background-color: #ffffff;
  color: #000000;
}

.pagination-link.is-active:hover,
.pagination-link.is-active:focus-visible,
.pagination-link.is-active:active {
  border: none;
}

/* Стили для секции subscribe-catalog */

.subscribe-catalog {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe-catalog .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.subsribe-catalog-description {
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

/* Стили для модального окна */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  overflow: auto;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-seacrh {
  width: 717px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  right: 52px;
  top: 64px;
  padding: 0;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 26px;
  border: none;
  cursor: pointer;
}

.modal-close-button svg {
  position: absolute;
  top: 19px;
  right: 19px;
}

.modal-close-button:focus-visible {
  background-color: #E6E6E6;
}

.modal-close-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
  padding-right: 40px;
}

.modal-form-wrapper {
  display: grid;
  row-gap: 23px;
}

.label-date {
  display: flex;
  justify-content: flex-start;
}

.label-count {
  display: flex;
  align-items: center;
}

.modal-title-field {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0;
  padding: 12px 0;
  overflow-wrap: anywhere;
}

.input-date-wrapper {
  grid-column: 2/-1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.position-date-wrapper {
  position: relative;
}

.input-date-wrapper .calendar-svg {
  position: absolute;
  top: 16px;
  right: 22px;
  color: rgba(0, 0, 0, 0.3);
}

.input-date-wrapper .calendar-svg:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.modal-field-date {
  box-sizing: border-box;
  width: 440px;
  padding-right: 40px;
  border-radius: 4px;
}

.modal-input-text {
  display: block;
  font-size: 16px;
  padding: 0 20px;
  margin-top: 4px;
  color: #333333;
}

.modal-input-text.error {
  color: #FF5757;
}

.input-wrapper-wide {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-wrapper-double {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.input-wrapper-small {
  display: grid;
  grid-template-columns: 137px 111px;
}

.label-tooltip-wrapper {
  display: flex;
  align-items: center;
}


.input-wrapper-small.input-wrapper-small-tooltip {
  grid-template-columns: 131px 111px;
}

.input-wrapper-small-first {
  grid-column: 1/2;
}

.input-wrapper-small-second {
  grid-column: 3/4;
}

.input-count-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 110px;
}

.tooltip {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  margin-left: 10px;
  margin-right: 5px;
  z-index: 2;
  position: relative;

}

.tooltip-toggle {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;

}

.tooltip-icon {
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  opacity: 0.8;
}

.tooltip-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #333333;
  text-transform: none;
  padding: 20px 20px 22px 22px;
  min-width: 256px;
  box-sizing: border-box;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus-visible + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/modal/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-field-count {
  position: relative;
  box-sizing: border-box;
  padding: 12px 40px;
  width: 110px;
  text-align: center;
  border-radius: 4px;
}

.button-reduce,
.button-add {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 14px 10px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  height: 20px;
}

.reduce-icon,
.add-icon {
  opacity: 0.3;
  color: #756157;
}

.button-add {
  right: 0;
}

.button-reduce:hover .reduce-icon,
.button-add:hover .add-icon,
.button-reduce:focus-visible .reduce-icon,
.button-add:focus-visible .add-icon {
  color: #000000;
  opacity: 1;
}

.button-reduce:active .reduce-icon,
.button-add:active .add-icon {
  color: #000000;
  opacity: 0.3;
}

.modal-button-wrapper {
  display: grid;
  grid-column: 1/-1;
  gap: 48px;
  margin-top: 25px;

}
